body {
    text-align: center;
    background-color: #ffd6ff;
}


#app {
    background-color: aliceblue;
    border:1px solid blue;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    margin:10% auto;
    padding: 5%;
}

#app button{
    background-color: #c8b6ff;
    color: white;
    border: none;
    border-radius: 10px;
}

#app button:hover{
    border: 2px solid blue;
    background-color: #b8c0ff;
    color: green;
    font-family: Comic sans-serif;
    cursor: pointer;
}
.hide {
    display: none;
}

